In [8]:
# Import pandas
import pandas as pd

In [9]:
# Create a DataFrame with balance.txt
df = pd.read_csv('balance.txt',sep=' ')

Write the code needed to produce a report that provides the following information:
* Compare the average income based on ethnicity. 
* On average, do married or single people have a higher balance?
* What is the highest income in our dataset?
* What is the lowest income in our dataset?
* How many cards do we have recorded in our dataset? (Hint: use `sum()`)
* How many females do we have information for vs how many males? (Hint: use `count()`For a list of all methods for computation of descriptive stats, explore the [pandas documentation](https://pandas.pydata.org/pandas-docs/stable/reference/frame.html#computations-descriptive-stats)).

In [20]:
#Average income based on ethnicity
print(df.groupby('Ethnicity')['Income'].mean())

#The below data tells us African Americans have a higher average income

Ethnicity
African American    47.682101
Asian               44.187833
Caucasian           44.521945
Name: Income, dtype: float64

In [25]:
# Average balance of married and single people
print(df.groupby('Married')['Balance'].mean())

#The below data tells us single people have a slightly higher balance.

Married
No     13.493509
Yes    13.388473
Name: Balance, dtype: float64

In [29]:
#Finds highest income
df.sort_values(by = 'Income', ascending = False).head(1)

#The highest income is 186.634

,Balance,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity
28,35.271011,186.634,13414,949,2,41,14,Female,No,Yes,African American

In [30]:
#Finds lowest income 
df.sort_values(by = 'Income', ascending = True).head(1)

#The lowest income is 10.354

,Balance,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity
58,9.180797,10.354,3480,281,2,70,17,Male,No,Yes,Caucasian

In [31]:
#Total sum of all cards
sum(df.Cards)

1183

In [49]:
#Total info of each gender 
df["Gender"].value_counts()

Female    207
Male      193
Name: Gender, dtype: int64